.section {
    height: 100vh;
    min-height: 500px;
}
.full-section {
    height: 100vh;
    min-height: 500px;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: dimgrey;
}
textarea.noresize {
    resize: none;
}