.section {
    height: 100vh;
    min-height: 500px;
}
.full-section {
    height: 100vh;
    min-height: 500px;
    background-image: url('/img/clogo.png');
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: dimgrey;
}
textarea.noresize {
    resize: none;
}

/*Ejemplo usando id*/
#seccion1 {
    margin-top: 60px;
}
#contenedorPrincipal {
    padding: 20px;
}
/*Ejemplo usando clases*/
.texto-centrado {
    text-align: center;
}
/*Ejemplo usando el nombre de la etiqueta*/
ul {
    list-style-type: square;
}
li {
    padding: 10px 0px;
}
.custom-top-margen {
    margin-top: 30px;
}