<!DOCTYPE html>
<html>
  <head>
    <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>
  </head>
  <body>
    <h3>My Google Maps Demo</h3>
    <button onclick="loadData()">Refresh!</button>
    <div id="map"></div>
    
    <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWl429SeGxhRzD7nn76wDFlTagpEc3Q1w&callback=initMap"
    async defer></script>
    <script>
      var map;
      var markers = [];

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: new google.maps.LatLng(33.7490, -84.3880), 
          mapTypeId: google.maps.MapTypeId.ROADMAP
        });
        loadData();

        setInterval(() => loadData(), 5000);
      }

      function loadData(){

        $.ajax({
            type: "GET",
            url: "/map/buses",
            contentType: 'application/json',
        })
        .done((response) => {
          //Reset all markers
          for (var i=0; i < markers.length; i++) {
            markers[i].setMap(null);
          }
          markers = [];

          response.sort((a, b) => { return a.ROUTE - b.ROUTE});

          var infowindow = new google.maps.InfoWindow();
          var marker, i = 0;
          for(value in response) {
            const bus = response[value];
            marker = new google.maps.Marker({
              position: new google.maps.LatLng(bus.LATITUDE, bus.LONGITUDE),
              map: map
            });

            google.maps.event.addListener(marker, 'click', ((marker, i) => {
              return () => {
                infowindow.setContent(`Bus ${bus.ROUTE}`);
                infowindow.open(map, marker);
              }
            })(marker, i));
            markers.push(marker);
            console.log(`Bus ${bus['ROUTE']} LAT: ${bus['LATITUDE']}, LON: ${bus['LONGITUDE']}, ADHER: ${bus['ADHERENCE']}, VEHICLE: ${bus['VEHICLE']}`);
            i++;
          }
        });
      }
    </script>
  </body>
</html>